<h2 style="background-color: #87b987;border-style: solid;width:  600px;">Add Inspection Log</h2>

<div id="top" align="middle"></div>

<div align="middle" style="width: 600px/*fit-content*/;text-align: left;overflow: hidden;">
<div id="passfailslider" align="middle">
	<label class="passswitch">
	  <input type="checkbox" id='passSwitch' checked>
	  <span class="passslider round"></span>
	</label>
</div>

<p class="formfield" >
<label for="user_name" >User Name: </label>
<textarea name="user_name" id="user_name" cols="40" rows="1" autofocus style="float: right;resize: none;"></textarea>
</p>
<p class="formfield">
<label for="ar_asset">Arista Tag #: </label>
<textarea name="ar_asset" id="ar_asset" cols="40" rows="1" autofocus style="float: right;resize: none;"></textarea>
</p>
<p class="formfield">
<label for="mac_address">MAC Address: </label>
<textarea name="mac_address" id="mac_address" cols="40" rows="1" autofocus style="float: right;resize: none;"></textarea>
</p>
<p class="formfield">
<label for="assembly_number">Assembly number: </label>
<textarea name="assembly_number" id="assembly_number" cols="40" rows="1" autofocus style="float: right;resize: none;"></textarea>
</p>
<p class="formfield">
<label for="serial_number">Serial number: </label>
<textarea name="serial_number" id="serial_number" cols="40" rows="1" autofocus style="float: right;resize: none;"></textarea>
</p>
<p class="formfield">
<label for="bad_fm">Number of Bad FM Slots: </label>
<textarea name="bad_fm" id="bad_fm" cols="40" rows="1" autofocus style="float: right;resize: none;">0</textarea>
</p>
<p class="formfield">
<label for="bad_lc">Number of Bad LC Slots: </label>
<textarea name="bad_lc" id="bad_lc" cols="40" rows="1" autofocus style="float: right;resize: none;">0</textarea>
</p>
<p class="formfield">
<label for="comment">Comments: </label>
<textarea name="comment" id="comment" cols="40" rows="4" autofocus style="float: right;resize: none;"></textarea>
</p>

<form>
  Select files: <input type="file" name="myFile[]" id='myfile' multiple="multiple"><br><br>
</form>
</div>
<br>
<form action="">
  <label for="cleaned" >Cleaning Performed: </label>
  <input type="checkbox" name="cleaned" id="cleaned_yes" value="yes" style='height:40px; width:40px;'>
</form>
<br>
<button id='oneLinerPrint' onclick="add2DB()" style="display:block">Add to DB</button>


<!-- AutoEnter from scanner -->
<script>
	$('#Text1').focus();
	$("#Text1").keypress(function (e) {
	var check=$('#inputSwitch').is(":checked");
	if(e.which == 13 && !e.shiftKey) {  
		if (check == true){
			add2DB();
			e.preventDefault();
			return false;
			}
	}
	});
	
</script>


