<h2 style="background-color: #87b987;border-style: solid;width:  500px;">Inspection Lookup</h2>

<br>
<h1> Search By Asset Tag:</h1>
<form name="assetTag_search" onSubmit="dateRange('asset')">
  <input type="text" id="assetTag_search">
  <input type="submit">
</form>
<br>
<h1> Search By Date:</h1>
<form name="dateRangeFind" onSubmit="dateRange('date')">
  Start Date:
  <input type="date" id="startDate">
  End Date:
  <input type="date" id="endDate">
  <input type="submit">
</form>
<script>
	$('#Text1').focus();
	$("#Text1").keypress(function (e) {
	var check=$('#inputSwitch').is(":checked");
		if(e.which == 13 && !e.shiftKey) {  
			if (check == true){
				loopbackLookup();
				e.preventDefault();
				return false;
				}
		}
	});
</script>