<h2 style="background-color: #87b987;border-style: solid;width:  500px;">Calibrate Scanner</h2>
<p>Scan the barcodes in order</p>
<p>1)	<img src="assets/8485-1.png" alt="scan_options" align="middle"></p>
<p>2)	<img src="assets/8485-2.png" alt="data_suffix" align="middle">	</p>
<p>3)	<img src="assets/8485-3.png" alt="enter" align="middle"></p>
<p>4)	<img src="assets/8485-4.png" alt="Scan Suffix 1 -Tab" align="middle"></p>
<p>5)	<img src="assets/8485-5.png" alt="7" align="middle"></p>
<p>6)	<img src="assets/8485-6.png" alt="0" align="middle"></p>
<p>7)	<img src="assets/8485-6.png" alt="0" align="middle"></p>
<p>8)	<img src="assets/8485-7.png" alt="9" align="middle"></p>
<!-- Remove "style="display:none;" to show this barcode -->
<p style="display:none;">Restore Defaults)	<img src="assets/restore_defaults.JPG" alt="restore_defaults.JPG" align="middle" ></p>
	

